body, html {
    height: 100%;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #000;
}

.glowing-text-container {
    text-align: center;
    position: relative;
    z-index: 1;
}

.glowing-text {
    font-size: 4em;
    color: #0ff;
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 60px #00f;
    animation: flicker 1.5s infinite alternate, hover 2s infinite;
}

@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.8; }
    100% { opacity: 1; }
}

@keyframes hover {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}